[submodule "libp2p"]
	path = libp2p
	url = https://github.com/sekrit-twc/libp2p
[submodule "subprojects/libplacebo"]
	path = subprojects/libplacebo
	url = https://github.com/SaltyChiang/libplacebo.git
